version: '2.1'
services:

  database:
    image: mysql:5.7
    container_name: mysql
    #restart: always
    environment:
      MYSQL_DATABASE: 'banco'
      #MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - './.mysql-data/db:/var/lib/mysql'